@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Rubik+Distressed&display=swap');

.bgWhite {
    -fx-background-color: #FFF;
}

.bgTransparent {
    -fx-background-color: transparent;
}

.border {
    -fx-border-color: #E8E8E8;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.banner-bg {
    -fx-background-image: url("../assets/image/RiseOfValor.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.duoSelection-bg {
    -fx-background-image: url("../assets/image/DuoMode.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 24; /* Ensure this matches the button's shape */
    -fx-border-radius: 24; /* Add border-radius to match */
}

.quadSelection-bg {
    -fx-background-image: url("../assets/image/QuadMode.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 24; /* Ensure this matches the button's shape */
    -fx-border-radius: 24; /* Add border-radius to match */
}

.bg-radius {
    -fx-background-radius: 24; /* Ensure this matches the button's shape */
    -fx-border-radius: 24; /* Add border-radius to match */
}

.duoSelection-bg, .quadSelection-bg {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.bg-black {
    -fx-background-color: #000;
}

/* Base button styling */
.btn {
    -fx-background-color: #FDD016;
    -fx-text-fill: #01191D;
    -fx-border-color: linear-gradient(to right, #FDD016, #01191D);
    -fx-cursor: hand;
    -fx-font-family: "Press Start 2P", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* Gamey font */
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-padding: 0px 10px;
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-insets: 0, -4, -8, -12, -16, -20;
    -fx-border-width: 2px, 2px, 2px, 2px, 2px, 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.5, 0, 0);
    -fx-text-transform: uppercase;

}

.btn:hover {
    -fx-background-color: #FDD016;
    -fx-border-color: #FDD016,
                    rgba(253, 208, 22, 0.75),
                    rgba(253, 208, 22, 0.5),
                    rgba(253, 208, 22, 0.25);
    -fx-border-insets: 0, -4, -8, -12;
    -fx-border-width: 2px, 2px, 2px, 2px;
    -fx-text-fill: #01191D;
}

.btn-border {
    -fx-border-color: #FFF;
    -fx-border-width: 1px;
    -fx-border-radius: 50px; /* Rounded corners */
    -fx-background-radius: 50px; /* Rounded corners */
}
/*
@font-face {
    font-family: 'RigBoldHalftone';
    src: url('../assets/fonts/Rig-BoldHalftone.eot');
    src: local('Rig Solid Bold Halftone'), local('Rig-BoldHalftone'),
    url('../assets/fonts/Rig-BoldHalftone.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Rig-BoldHalftone.woff2') format('woff2'),
    url('../assets/fonts/Rig-BoldHalftone.woff') format('woff'),
    url('../assets/fonts/Rig-BoldHalftone.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}
*/

.custom-font {
    -fx-font-family: 'RigBoldHalftone';
    -fx-font-size: 16px;
}

.rubik-distressed-regular {
    font-family: "Rubik Distressed", serif;
    font-weight: 400;
    font-style: normal;
    -fx-font-size: 50px;

}

.rampart-one-regular {
    font-family: "Rampart One", serif;
    font-weight: 400;
    font-style: normal;
    -fx-font-size: 50px;
}
